body
{
	background: url('pink.png');
	background-repeat: no-repeat;
	border: 0px;
	padding: 30px;
	background-position: cover;  
}

div
{
	background-image: url('light.jpg');
	background-repeat: no-repeat;
	background-position: cover;
	height: 300px;
	font-family: "Times New Roman";
	font-size: 150%;
	color: white;
}
ul {
    direction: right;
    list-style-type: none;
}

ul li
{
	display: inline-block;
}


ul li a{
text-decoration: none;
color: #fff;
padding: 10px 30px;
border: 1px solid #fff;
transition: all 1s;
}
ul li a:hover
{
	transform: scale(1.1);
	background-color: white;
	color: black;

}

ul li a{
text-decoration: none;
color: #fff;
padding: 10px 30px;
border: 1px solid #fff;
transition: all 1s;
}
ul li a:hover
{
	transform: scale(1.1);
	background-color: white;
	color: black

